@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') ;

.container-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-button {
  margin-bottom: 50px;
}

.input-button input {
  width: 200px;
  font-size: 18px;
  padding: 5px;
  border-radius: 15px 0 0 15px;
  background-color: #180127;
  border: solid 2px orange;
  color: white;
}

.input-button button {
  width: 100px;
  font-size: 18px;
  padding: 5px;
  border-radius: 0 15px 15px 0;
  border: solid 2px orange;
  border-width: 2px 2px 2px 0;
  background-color: orange;
  font-weight: 600;
  color: black;
  transition: 400ms;
}

.input-button button:hover {
  cursor: pointer;
  background-color: rgb(255, 192, 75);
}

.null-message {
  font-family: Montserrat;
  font-size: 18px;
}

.musics {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.music {
  margin: 20px;
  text-decoration: none;
  color: white;
  background-color: rgb(56, 0, 56);
  padding: 15px;
  border-radius: 20px;
}

.music p {
  max-width: 100px;
}

.music img {
  border-radius: 5px;
}

.container-result {
  text-align: center;
}